.container-grid {
  display: grid;
  grid-template-areas:
  "navbar"
  "aside main"
  "fotter fotter";
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.navbar {
  grid-area: navbar;
  background-color: coral;
  color: white;
  padding: 1rem;
  text-align: center;
}

.aside {
  grid-area: aside;
  background-color: blue;
  padding: 1rem;
  border-right: 1px solid;
}

.main {
  grid-area: main;
  padding: 1rem;
}

.fotter {
  grid-area: fotter;
  background-color: white;
  color: white;
  padding: 1rem;
  text-align: center;
}
